<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LambdaTestParallelSuite" parallel="methods" thread-count="5">
    <test name="LambdaTestParallel">
        <classes>
            <class name="com.example.playwright.playwrightLambdaTest"/>
        </classes>
    </test>
</suite>
